<div class="w3-container"> 
<h1> About </h1>
<style>
  h1 { background-color: yellow; width: 105px;}
</style>
  
  <a href="/" class="w3-button w3-deep-orange"> Seriously, Check These Quotes!</a>
  
<p>  
 <i>
   <b>
     Find out all about me, Matt from Account Services, on our help page.
   </b>
  </i>
   
</p>
</div>